* {
	margin:15;
}

body{
	background-color:#B0E0E6;
	font-family:Helvetica,Arial;
	font-size:1.2rem;
	margin:20px;

}

.profile-pic{
border-radius: 100px; 
height: 200px; 
width: 200px;
float: left; 
margin-right: 24px;
}

h1{
color:#de7349;
font-size: 3rem;
margin­bottom: 35px;

}

h2{
color:#5c8776;
margin­bottom: 12px;

}

p{
	color: #666666;
}


div{
	margin-left: 235px;
	border: solid 1px #ffffff;
	margin-bottom: 12px;
	padding: 12px;
}

.media{
	max-width: 100%;
	max-height: 100%;
	margin-top: 12px;
}


/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px){

	.profile-pic{
		float: none;
	}
	body{
		text-align: center;
	}
	div{
		margin-left: 0px;
	}
}